{% extends "inventory/base.html" %}
{% block content%}
	<h1>Caja {{view.this_box_number}}: {{ view.this_box.box_name }} ({{ view.this_piso_name }})</h1>

	{% comment %}
	<article class="media content-section nav-shadow">
		{% if view.this_box.author %}
			<img class="rounded-circle article-img" src="{{ view.this_box.author.profile.image.url }}">
		{% endif %}
		<div class="media-body">
		<div class="article-metadata">
			{% if view.this_box.author %}
				<a class="mr-2" href="{% url 'user-items' view.this_box.author.username %}">{{ view.this_box.author }}</a>
			{% endif %}
			<small class="text-muted">{{ view.this_box.date_created|date:"F d, Y" }}</small>
		  {% if view.this_box.author == user %}
		  	<div>
		  		<a class="btn btn-secondary btn-sm mt-1 mb-1 round-edges" href="{% url 'box-update' view.this_box.id %}">Actualizar</a>
		  		<a class="btn btn-danger btn-sm mt-1 mb-1 round-edges" href="{% url 'box-delete' view.this_box.id %}">Eliminar</a>
		  	</div>
		  {% endif %}
		<h2 class="article-title">Caja {{view.this_box_number}}: {{ view.this_box.box_name }} ({{ view.this_piso_name }})</h2>
		</div>
		</div>
	</article>
	{% endcomment %}

	{% if view.this_box.author == user %}
	<div>
		<a class="btn btn-secondary btn-sm mt-1 mb-1 round-edges" href="{% url 'box-update' view.this_box.id %}">Actualizar</a>
		<a class="btn btn-danger btn-sm mt-1 mb-1 round-edges" href="{% url 'box-delete' view.this_box.id %}">Eliminar</a>
	</div>
	{% endif %}
	
	{% for item in items %}
		<div onclick="location.href='{% url 'item-detail' item.id %}';" >
		<article class="media content-section nav-shadow">
			<img class="rounded-circle article-img" src="{{ item.author.profile.image.url }}">
			<div class="media-body">
			<div class="article-metadata">
			  	<a class="mr-2" href="{% url 'user-items' item.author.username %}">{{ item.author }}</a>
				<small class="text-muted">{{ item.date_posted|date:"F d, Y" }}</small>
			</div>
			<h2><a class="article-title" href="{% url 'item-detail' item.id %}">{{ item.item_name }}</a></h2>
			<p class="article-content">Caja {{view.this_box_number}}: {{ view.this_box.box_name }}, {{ view.this_piso_name }}</p>
			</div>
		</article>
		</div>
	{% endfor %}
	{% if is_paginated %}
		
		{% if page_obj.has_previous %}
			<div onclick="location.href='?page=1&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">Primera</div>
			<div onclick="location.href='?page={{ page_obj.previous_page_number }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">Anterior</div>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<div onclick="location.href='?page={{ num }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">{{ num }}</div>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<div onclick="location.href='?page={{ num }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">{{ num }}</div>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<div onclick="location.href='?page={{ page_obj.next_page_number }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">Siguiente</div>
			<div onclick="location.href='?page={{ page_obj.paginator.num_pages }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">Última</div>
		{% endif %}

	{% endif %}



	
{% endblock content%}