{% extends "inventory/base.html" %}
{% block content%}
    <h1>Listado de Cajas</h1>
    <p>¡OJO! Aquí están los artículos de TODOS los pisos, mezclados. En futuras actualizaciones esto se solucionará.</p>
    {% regroup items by box as box_list %}
    
    {% for box in box_list %}
    <div onclick="location.href='{% url 'box-detail' box.grouper %}';" >
        <article class="media content-section nav-shadow">
            <div class="media-body">
                <h2><a class="article-title" href="{% url 'box-detail' box.grouper %}">Caja {{ box.grouper }}</a></h2>
                {% for item in items %}
                    {% if item.box == box.grouper %}
                        <p class="article-content">{{ item.item_name }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </article>
    </div>
    {% endfor %}

    {% comment %}
    {% if is_paginated %}
        
        {% if page_obj.has_previous %}
            <div onclick="location.href='?page=1&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">Primera</div>
            <div onclick="location.href='?page={{ page_obj.previous_page_number }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">Anterior</div>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <div onclick="location.href='?page={{ num }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">{{ num }}</div>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <div onclick="location.href='?page={{ num }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">{{ num }}</div>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <div onclick="location.href='?page={{ page_obj.next_page_number }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">Siguiente</div>
            <div onclick="location.href='?page={{ page_obj.paginator.num_pages }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">Última</div>
        {% endif %}
    {% endcomment %}
{% endblock content%}
