{% extends "inventory/base.html" %}
{% block content%}
	<h1>Caja {{ view.kwargs.pk }}</h1>
	{% for item in items %}
		{% if view.kwargs.pk == item.box %}
			<article class="media content-section">
				{% if item.author %}
					<img class="rounded-circle article-img" src="{{ item.author.profile.image.url }}">
				{% else %}
					<img class="rounded-circle article-img" src="/media/default.jpg">
				{% endif %}

				<div class="media-body">
				<div class="article-metadata">
					{% if item.author %}
						<a class="mr-2" href="{% url 'user-items' item.author.username %}">{{ item.author }}</a>
					{% endif %}
					<small class="text-muted">{{ item.date_posted|date:"F d, Y" }}</small>
				</div>
				<h2><a class="article-title" href="{% url 'item-detail' item.id %}">{{ item.item_name }}</a></h2>
				<p class="article-content">Caja {{ item.box }}</p>
				</div>
			</article>
		{% endif %}
	{% endfor %}



	{% if is_paginated %}
		
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">Primera</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
		{% endif %}

	{% endif %}
{% endblock content%}