{% extends "inventory/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%} 
	<h1>Listado de Artículos</h1>

	<form method="get" action="{% url 'inventory-home' %}">
	    <p>
	    	<h6>Filtrar por nombre:</h6>
	    	<p>			
	    		<input class="custom-input-text" type="text" value="{{ filter }}" name="filter" style='width:79%'/>
	    		<input class="btn custom-button" type="submit" value="Filtrar" style='width:20%'/>
		</p>
	    	<h6>Ordenar por:  </h6>
	    	<select class="form-select custom-unselected-height custom-input-select" name="orderby" id="sort-select" style='width:79%'>
				{% if orderby == 'box' %}
					<option value="box">Caja</option>
					<option value="item_name">Nombre</option>
					<option value="-date_posted">Fecha</option>
				{% elif orderby == '-date_posted' %}
					<option value="-date_posted">Fecha</option>
					<option value="box">Caja</option>
					<option value="item_name">Nombre</option>
	    			{% else %}
					<option value="item_name">Nombre</option>
					<option value="box">Caja</option>
					<option value="-date_posted">Fecha</option>
				{% endif %}
		</select>
	    	<input class="btn custom-button" type="submit" value="Reordenar" style='width:20%'/>
	    </p>
	</form>


	{% for item in items %}
		<div onclick="location.href='{% url 'item-detail' item.id %}';" >
		<article class="media content-section">
			{% if item.author %}
				<img class="rounded-circle article-img" src="{{ item.author.profile.image.url }}">
			{% else %}
				<img class="rounded-circle article-img" src="/media/default.jpg">
			{% endif %}

			<div class="media-body">
			<div class="article-metadata">
				{% if item.author %}
					<a class="mr-2" href="{% url 'user-items' item.author.username %}">{{ item.author }}</a>
				{% endif %}
				<small class="text-muted">{{ item.date_posted|date:"F d, Y" }}</small>
			</div>
			<h2><a class="article-title" href="{% url 'item-detail' item.id %}">{{ item.item_name }}</a></h2>
			<p class="article-content">Caja {{ item.box }}</p>
			</div>
		</article>
		</div>
	{% endfor %}

	{% if is_paginated %}
		
		{% if page_obj.has_previous %}
			<div onclick="location.href='?page=1&orderby={{ orderby }}';" class="btn mb-4 custom-button">Primera</div>
			<div onclick="location.href='?page={{ page_obj.previous_page_number }}&orderby={{ orderby }}';" class="btn mb-4 custom-button">Anterior</div>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<div onclick="location.href='?page={{ num }}&orderby={{ orderby }}';" class="btn mb-4 custom-button">{{ num }}</div>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<div onclick="location.href='?page={{ num }}&orderby={{ orderby }}';" class="btn mb-4 custom-button">{{ num }}</div>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<div onclick="location.href='?page={{ page_obj.next_page_number }}&orderby={{ orderby }}';" class="btn mb-4 custom-button">Siguiente</div>
			<div onclick="location.href='?page={{ page_obj.paginator.num_pages }}&orderby={{ orderby }}';" class="btn mb-4 custom-button">Última</div>
		{% endif %}

	{% endif %}
{% endblock content%}
