{% extends "inventory/base.html" %}
{% block content%}
<h1 class="mb-3">Artículos añadidos por {{ view.kwargs.username}} ({{ page_obj.paginator.count }})</h1>

	<form method="get" action="{% url 'user-items' view.kwargs.username %}">
	    <p>
	    	<h6>Filtrar por nombre:</h6>
	    	<p>			
	    		<input class="custom-input-text nav-shadow" type="text" value="{{ filter }}" name="filter" style='width:79%'/>
	    		<input class="btn custom-button nav-shadow" type="submit" value="Filtrar" style='width:20%'/>
		</p>
	    	<h6>Ordenar por:  </h6>
	    	<select class="form-select custom-unselected-height custom-input-select nav-shadow" name="orderby" id="sort-select" style='width:79%'>
				{% if orderby == 'box' %}
					<option value="box">Caja</option>
					<option value="item_name">Nombre</option>
					<option value="-date_posted">Fecha</option>
				{% elif orderby == '-date_posted' %}
					<option value="-date_posted">Fecha</option>
					<option value="box">Caja</option>
					<option value="item_name">Nombre</option>
				{% elif orderby == 'item_name' %}
					<option value="item_name">Nombre</option>
					<option value="box">Caja</option>
					<option value="-date_posted">Fecha</option>
				{% endif %}
		</select>
	    	<input class="btn custom-button nav-shadow" type="submit" value="Reordenar" style='width:20%'/>
	    </p>
	</form>




	{% for item in items %}
		<div onclick="location.href='{% url 'item-detail' item.id %}';" >
		<article class="media content-section nav-shadow">
			<img class="rounded-circle article-img" src="{{ item.author.profile.image.url }}">
			<div class="media-body">
			<div class="article-metadata">
			  	<a class="mr-2" href="{% url 'user-items' item.author.username %}">{{ item.author }}</a>
				<small class="text-muted">{{ item.date_posted|date:"F d, Y" }}</small>
			</div>
			<h2><a class="article-title" href="{% url 'item-detail' item.id %}">{{ item.item_name }}</a></h2>
			<p class="article-content">Caja {{ item.box.box_number }}: {{ item.box.box_name }}, {{ item.box.piso }}</p>
			</div>
		</article>
		</div>
	{% endfor %}
	{% if is_paginated %}
		
		{% if page_obj.has_previous %}
			<div onclick="location.href='?page=1&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">Primera</div>
			<div onclick="location.href='?page={{ page_obj.previous_page_number }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">Anterior</div>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<div onclick="location.href='?page={{ num }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">{{ num }}</div>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<div onclick="location.href='?page={{ num }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">{{ num }}</div>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<div onclick="location.href='?page={{ page_obj.next_page_number }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">Siguiente</div>
			<div onclick="location.href='?page={{ page_obj.paginator.num_pages }}&orderby={{ orderby }}';" class="btn mb-4 custom-button nav-shadow">Última</div>
		{% endif %}

	{% endif %}
{% endblock content%}

