{% extends "inventory/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Iniciar Sesión</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">
					Iniciar Sesión
				</button>
				<small class="text-muted ml-2">
					<a class="ml-2" href="{% url 'password_reset' %}">Has olvidado tu contraseña?</a>
				</small>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Necesitas crear una cuenta? <a class="ml-2" href="{% url 'register' %}">Regístrate Ahora</a>
			</small>
		</div>
	</div>
{% endblock content%}