body {
  background: #ededed; /*this is the color of the background of the main body of the page #fafafa*/
  color: #333333;
  margin-top: 5rem;
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.nav-shadow {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
}

.bg-steel {
  background-color: #5f788a; /*this is the color of the navigation bar*/
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;/*this is the color of the content boxes*/
  padding: 10px 20px;
  border: 0px solid #dddddd; /*this sets a border around the content boxes*/
  border-radius: 10px; /*this rounds the corners of the content boxes*/
  margin-bottom: 20px;
}

.article-title {
  color: #444444; /*this is the color of the title for the inventory items*/
}

a.article-title:hover {
  color: #5f788a; /*this is the color of the title for the inventory items when we hover over it*/
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.custom-unselected-height {
  line-height: 30px;
  height: 30px
}

/*style for the rounded navbar image*/
.navbar-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

/*input text styles*/

:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

.custom-input-text {
  padding: 0.2em 0.5em;
  background-color: #fff;
  border: 0px solid var(--input-border);
  border-radius: 10px;
}

.custom-input-select {
  padding: 0.1em 0.5em;
  background-color: #fff;
  border: 0px solid var(--input-border);
  border-radius: 10px;
}

.custom-button {
  color: #fff;
  padding: 0.2em 0.5em;
  background-color: #5f788a;
  border: 0px solid var(--input-border);
  border-radius: 10px;
}

.round-edges {
  border-radius: 10px;
}



/*extra*/
